@import 'tailwindcss';

* {
  box-sizing: border-box;
  font-family: 'Inter', sans-serif;
}

body {
  background-color: var(--color-zinc-100);
}

/* Headings */
h1 {
  font-size: var(--text-4xl);
  font-weight: 700;
  color: var(--color-zinc-900);
}

h2 {
  font-size: var(--text-3xl);
  font-weight: 600;
  color: var(--color-zinc-900);
}

h3 {
  font-size: var(--text-2xl);
  font-weight: 600;
  color: var(--color-zinc-800);
}

h4 {
  font-size: var(--text-xl);
  font-weight: 500;
  color: var(--color-zinc-800);
}

/* Backgrounds */
.bg-app {
  background-color: var(--color-zinc-100);
}

.bg-surface {
  background-color: var(--color-white);
}

/* Text */
.text-primary {
  color: var(--color-zinc-800);
}

.hover-text-accent:hover {
  color: var(--color-blue-600);
}

/* Accents */
.text-accent {
  color: var(--color-blue-600);
}

.bg-accent {
  background-color: var(--color-blue-600);
}

.text-accent-alt {
  color: var(--color-emerald-600);
}

.bg-accent-alt {
  background-color: var(--color-emerald-500);
}

.border-accent {
  border-color: var(--color-blue-500);
}

.hover-accent:hover {
  background-color: var(--color-blue-700);
}
